<!doctype html>
<html>
  <head>
    <title>Geocoder</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
  </head>
  <body>
    <header>
      <h1>Super Geocoder</h1>
      <h2>Please upload your CSV file. The value containing addresses shuold be in a column named "address" or "Address".</h2>
        <section class="content">
        <h3>
            <form action="{{ url_for('display_page')}}" method="POST" enctype=multipart/form-data>
              <input type="file" name="file" />
              <input type="submit" />
            </form>
        </h3>
        {% with messages = get_flashed_messages() %}
          {% if messages %}
            <ul>
              {% for message in messages %}
              <div class="flash">{{ message }}</div>
              {% endfor %}
            </ul>
          {% endif %}
        {% endwith %}

        <!--{% for message in get_flashed_messages() %}
          <div class="flash">{{ message }}</div>
        {% endfor %}-->
          <table class="center">
            {% block content %}{% endblock %}
          </table>
        </section>
    </header>
  </body>
</html>
