body {
  background-color: #BEF2E4;
  text-align: center;
  align-content: center;
  align-items: center;
  margin-left:auto;
  margin-right: auto;

}

h1 {
  height: 12px;
  color: black;
  align-content: center;
  align-items: center;
  margin-left:auto;
  margin-right: auto;
}

h2 {
  height: 10px;
  color: black;
  align-content: center;
  align-items: center;
  margin-left:auto;
  margin-right: auto;
}

section {
  text-align: center;
  color: black;
  }

table {
  width: auto;
  margin: 0 auto;
  text-align: center;

}
